@import './scss/color.scss';

body {
  background: $googlegrey;
  width: 300px;
  margin: 0 auto;
}

h1 {
  color: $darkBlue;
  text-align: center;
}

.main {
  display: table;
  text-align: center;
  width: 300px;
}

input {
  width: 300px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;
}

button {
  width: 300px;
  margin: 20px;
  height: 40px;
  border-radius: 4px;
}

.Captcha-image {
  background-color: #ffff;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.Captcha-image > div {
  border: 1px solid red;
}
